.card{
    max-width: 250px;
    border-radius: 4px;
    background-color: white;
    padding-top: 20px;
    & img{
        object-fit: contain;
        margin: 0 auto;
        max-height: 250px;
    }
}

.card-bottom{
    padding:1rem;
    background-color: #FCFCFC;
}

.card-top{
    height: 100%;
    min-height: 250px;
    max-height: 250px;
}

