header{
    background-color: rgb(239, 74, 74);
    & a{
        text-decoration: none;
        color: white;
    }
}


.header-links{
    display: grid;
    max-width: 600px;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr))
}